@charset "UTF-8";

.work-box {
  position: relative;
  display: table-cell;
}

.work-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: url('/images/5.jpg') no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  transform: scaleY(-1);
}

.work-box:nth-child(odd) .work-image {
  margin: 60% 0 0;
}

.work-box:nth-child(odd) .work-description,
.work-box:nth-child(odd)::after {
  top: 0;
}

.work-image {
  display: block;
  width: 100%;
  margin: 0 0 60%;
}

.work-description {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
  overflow-y: auto;
}

.work-description-inner {
  display: table;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.work-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.0rem;
  line-height: 2;
}

.work-text .button {
  width: 60%;
  margin-top: 20px;
  padding: 3px;
}

.button-ghost {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.15);
}
